.card-title {
    height: 3rem;
}

.card-description {
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  overflow-y: scroll;
}

.card-footer {
    text-align: center;
}