$background-color: rgb(25, 29, 50);
$text-color: rgb(238, 238, 238);
$text-color-dark: rgb(232, 249, 253);
$tealblue: rgb(0, 173, 181);
$russiangreen: rgb(57, 62, 70);
$middlebluegreen: rgb(129, 230, 217);
$font-family_1: "Montserrat", sans-serif;
$font-family_2: "Montserrat", sans-serif;

.movie-card {
  height: 680px;
  border-radius: 5px;
  color: $text-color-dark;
  background-color: $tealblue;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.card-img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}

#movie-card {
  margin: 10px;
}

.card-title {
  font-family: $font-family_2;
  font-weight: 600;
  font-size: 1.4rem;
  height: 3rem;
}

.description {
  font-size: 0.9rem;
  overflow: hidden;
  height: 143px;
  line-height: 1.1;
}

.open {
  border: none;
  display: inline-block;
  background-color: $russiangreen;
  font-size: 14px;
  color: $text-color;
  font-family: $font-family_1;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s opacity;
  width: 100%;
}

.open:hover,
.open:focus {
  cursor: pointer;
  opacity: 0.9;
  background-color: rgb(253, 132, 31);
  color: $background-color;
}

@media all and (max-width: 775px) {
  .movie-card {
    height: auto;
    display: block;
    margin: 15px;
  }
}