$background-color: rgb(25, 29, 50);
$text-color: rgb(238, 238, 238);
$text-color-dark: rgb(232, 249, 253);
$tealblue: rgb(0, 173, 181);
$russiangreen: rgb(57, 62, 70);
$middlebluegreen: rgb(129, 230, 217);
$font-family_1: "Montserrat", sans-serif;
$font-family_2: "Montserrat", sans-serif;

.movie-card {
  height: 740px;
  border-radius: 5px;
  color: $text-color-dark;
  background-color: $tealblue;
  margin-bottom: 20px;
  // padding: 10px;
  text-align: center;
}

.card-img {
    height: 500px;
    width: fit;
}

#movie-card {
  margin: 10px;
}

.card-title {
  font-family: $font-family_2;
  font-weight: 600;
  font-size: 1.4rem;
  height: 3rem;
}

.description {
  font-size: 0.9rem;
  overflow: hidden;
  height: 100px;
  line-height: 1.1;
}

@media (min-width: 1200px) {
  .movie-card {
    height: 735px;
  }
  .description {
    height: 160px;
  }
  .card-img {
    height: 370px;
    width: fit;
  }
}

@media (min-width: 786px) and (max-width: 991px) {
  .movie-card {
    height: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .movie-card {
    height: 700px;
  }
  .description {
    height: 97px;
  }
  .card-img {
    height: 390px;
    width: fit;
  }
}

.open {
  border: none;
  display: inline-block;
  background-color: $russiangreen;
  font-size: 14px;
  color: $text-color;
  font-family: $font-family_1;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s opacity;
  width: 80%;
}

.open:hover,
.open:focus {
  cursor: pointer;
  opacity: 0.9;
  background-color: rgb(253, 132, 31);
  color: $background-color;
}

// @media all and (max-width: 775px) {
//   .movie-card {
//     height: auto;
//     display: block;
//     margin: 15px;
//   }
// }