$color1: #222831;
$color2: #393E46;
$color3: #00ADB5;

.validation-message {
  color: #00ADB5;
  font-size: 12px;
}

// @media only screen and (max-width: 768px) {
//   body {
//     font-size: 2rem !important;
//   }
// }
