$color1: #150004;
$color2: #31081f;
$color3: #6b0f1a;

.validation-message {
  color: red;
  font-size: 12px;
}

// @media only screen and (max-width: 768px) {
//   body {
//     font-size: 2rem !important;
//   }
// }
