$color: #7FBCD2 ;
$color2: #ae1d33 ;
$color3: #ffffff ;

body, html{
  background: $color;
  text-align: center;
}

.navbar-custom {
  background-color: $color;
  margin-bottom: 2rem;
}

.app-container {
    background: $color3;
    padding: 1.2rem;
}

.main-view {
  margin-left: auto;
  margin-right: auto;
}

.movieViewContainer{
    background: $color3;
}

.brand {
  font-size: 3rem;
  color: white;
}

.card-img-top {
  width: 100%;
  height: 48vh;
}

.card {
  margin: 0 auto;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  width: 21rem;
  margin-bottom: 2rem;
}

.card-text{
  font-size: 1rem;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.card-class {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-view {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.movie-image {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.movie-title, .movie-description, .movie-genre, .movie-director, .movie-actors {
  padding-left: 3rem;
  padding-right: 2.5rem;
  text-align: left;
  margin-bottom: 0.3rem;
}

.movie-actors {
  margin-bottom: 1rem;
}

.card-btn {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-title {
  text-align: left;
}

.card-text {
  text-align: left;
}