$color1: #222831;
$color2: #393E46;
$color3: #00ADB5;

html {
  font-size: 1.3rem;
}

body {
  background: $color1 !important;
  color: white !important;
}

.btn-primary {
  background: $color3 !important;
  color: white !important;
  border: 2px solid $color1 !important;
}

.btn-link {
  color: white !important;
}

.bg-clr-footer {
  background-color: $color3 !important;
}

.bg-clr-header {
  background-color: $color1 !important;
}

.nav-bar {
  color: white !important;
}
.cardText {
  color: $color2 !important;
}
